<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sigin</servlet-name>
        <servlet-class>sigin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showgroups</servlet-name>
        <servlet-class>showgroups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataConnection</servlet-name>
        <servlet-class>connection.DataConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controllers.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userprofilecontroller</servlet-name>
        <servlet-class>controllers.userprofilecontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>groupcontentcontroller</servlet-name>
        <servlet-class>controllers.groupcontentcontroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sigin</servlet-name>
        <url-pattern>/sigin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showgroups</servlet-name>
        <url-pattern>/showgroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataConnection</servlet-name>
        <url-pattern>/DataConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userprofilecontroller</servlet-name>
        <url-pattern>/userprofilecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>groupcontentcontroller</servlet-name>
        <url-pattern>/groupcontentcontroller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
